.clearfix{ clear: both; }
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}
header{
    margin: 0;
    padding:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

/* img{
    display: block;
    margin-left: auto;
    margin-right: auto;
} */

h1{
    color: whitesmoke;
    font-family: sans-serif;
    text-align: center;
}
p{
    color: whitesmoke;
    font-family: sans-serif;
    text-align: center;
    font-size: larger;
    margin-left: 80;
    margin-right: 100;
}    
h3{
    color: whitesmoke;
    font-family: sans-serif;
    text-align: center;
}


body{
    font-family: sans-serif;
    
}
/* #nav{
    background:rgb(40, 40, 40);
    height: 50px;
    width: 100%;
} */
nav{
    background: rgb(40, 40, 40);
    height: 50px;
    width: 100%;
}
label.logo{
    color: whitesmoke;
    font-size: 20px;
    font-family: sans-serif;
    line-height: 50px;
    padding: 0 20px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 50px;

    margin: 0 5px;
}

nav ul li a{
    color: whitesmoke;
    font-size: 17;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
header, a.active,a:hover{
    background: gray;
    transition:  .3s;
}
footer{
    background: rgb(40, 40, 40);
    height: 170px;
    width: 100%; 
    font-weight: bold;
}
footer ul{
    font-size: 17;
    padding:5px 0px ;
    line-height: 50px;
    border-radius: 100px;
    
}
footer ul li{
    font-size: x-small;
}
.integrantes{
    display: block;
    padding: 5px;
}
#content{
    width: 100%;
    height: 100%;
    padding: 10;

}
article{
    color: whitesmoke;
    font-family: sans-serif;
    text-align: center;
    font-size: larger;
    margin-top: 8%;
    margin-bottom: 10%;
    
    margin-left: 80;
    margin-right: 100;
}


#container{
    width: 100%;
    margin: 0px auto;

}

section h1 {
    color: whitesmoke;
    font-family: sans-serif;
    font-size: xx-large;
    text-align: center; 
    margin-top: 15%;
    margin-bottom: 0px;
}
section p{
    color: whitesmoke;
    font-family: sans-serif;
    text-align: center;
    font-size: larger;
    margin-left: 1.5cm;
    margin-right: 1.5cm;

}
section img{
    margin-left: 50px;
    margin-bottom: 30px;
}

#bloque1{
    border: 2px solid skyblue;
    padding: 25px;
    background-color: skyblue;
    background-repeat: no-repeat;
    background-size: 300px 100px;
}
#bloque2{
    border: 2px solid rgb(255, 221, 0);
    padding: 25px;
    background-color: rgb(255, 221, 0);
    background-repeat: no-repeat;
    background-size: 300px 100px;
}
#bloque3{
    border: 2px solid orange;
    padding: 25px;
    background-color: orange;
    background-repeat: no-repeat;
    background-size: 300px 100px;
}
#bloque4{
    border: 2px solid red;
    padding: 25px;
    background-color: red;
    background-repeat: no-repeat;
    background-size: 300px 100px;
}
